#updatePlanDataFromFile {
    position: relative;
    float: left;
    width: 400px; 
    height: 30px;
    margin: 17px 5px;
    font-weight: bold;
    text-align: center;
}

#fileChooser{
    position: relative;
    float: left;
    width: 330px; 
    height: 35px;
    margin: 10px 0px;
    cursor:pointer;
    border: 1px solid #4b545c;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#fileChooser:hover{
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 11px 0px;
}

#fileImg{
    position: absolute;
    left: 0px;
    width: 35px; 
    height: 35px;
    padding-left: 3px;
    border-radius: 5px;
}

#verticalLineFile {
    position: absolute;
    left: 39px;
    top: 2px;
    height: 31px;
    width: 1px;
    border-left: 1px dashed #4b545c;
}

#fileName {
    position: absolute;
    left: 40px;
    width: 279px; 
    height: 35px;
    font-size: 14px;
    padding-left: 5px;
    background-color: white;
    border-radius: 5px;
}

#spanFile {
    position: relative;
    float: left;
    width: 400px; 
    height: 30px;
    margin: 12px 10px;
    font-weight: bold;
    text-align-last: left;
    white-space: pre;
}

/* ------------- employeeStatusChanging_table style ----------------- */
#employeeStatusChanging_table {
    position: relative;
    left: 5px;
    top: 5px;
    border-collapse: collapse;
    border-top: 2px solid #84c3e5;	
    border-left: 2px solid #84c3e5;	
    border-bottom: 2px solid #84c3e5;	
    text-align: center;
    font-size: 16px;
    font-family:Arial;
}

.tr_head {
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

#employeeStatusChanging_table td{
    width: 80px;
    border-top: 1px dashed #84c3e5;		
    border-left: 1px dashed #84c3e5;		
    border-bottom: 1px dashed #84c3e5;		
}

#employeeStatusChanging_table td:first-child {
    border-left: 0;
}

#employeeStatusChanging_table tr td:last-child {
    border: 0;
}

#employeeStatusChanging_table tr:first-child td{
    border-top: 0;
}

.selectColumn {
    border-right: 2px solid #84c3e5;	
    max-width: 125px;
    min-width: 125px;
}

#employeeStatusChanging_table tr:last-child td{
    border-bottom: 0;
}

.nameColumn {
    font-size: 17px; 
    max-width: 300px;
    min-width: 300px;
    text-align: left;
    padding-left: 10px;
    height: 25px;
}

.counter {
    max-width: 40px;
    min-width: 40px;
}

.login {
    max-width: 125px;
    min-width: 125px;
}

.loginSmall {
    max-width: 85px;
    min-width: 85px;
}

.adminList {
    max-width: 300px;
    min-width: 300px;    
}

.selectEl {
    cursor:pointer;
    position: relative;
    top: 0px;
    width: 100%; 
    height: 30px;
    border-radius: 3px;
    box-shadow:
        inset rgba(155,155,150,.9) -2px -2px 8px,
        inset rgba(155,155,150,.5) 2px 2px 8px,
        0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-weight: bold;
    text-align-last: center;
}

.selectEl:hover {
    position: relative;
    top: 1px;
    box-shadow:
        inset rgba(155,155,150,.9) -2px -2px 8px,
        inset rgba(155,155,150,.5) 2px 2px 8px,
        1px 3px 8px 2px rgba(0, 0, 0, 0.5);
}

.selectEl:disabled {
    position: relative;
    top: 0px;
    cursor:auto;
    box-shadow:
        inset rgba(155,155,150,.9) -2px -2px 8px,
        inset rgba(155,155,150,.5) 2px 2px 8px,
        0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* ------------- search box  style ----------------- */
#divSearchNewEmployee {
    position: absolute;
    right: 20px;
    top: 74px;
    width: 395px;
    height: 80px;
    border-bottom: 1px solid #4b545c;
    border-top: 1px solid #d7f1ff;	
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#headerSearchNewEmployee {
    position: absolute;
    width: 100%;
    top: 5px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

#inputSearchNewEmployee {
    position: absolute;
    width: 130px;
    top: 45px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#inputSearch {
    position: absolute;
    left: 128px;
    top: 38px;
    width: 120px;
    height: 25px;
    text-align: center;
    font-size: 17px;
    color: #404040;
    background: white;
    border-radius: 5px;
}

.hrInsideSearchBlock {
    position: absolute;
    top: 26px;   
    margin: 0px 5px;
    width: 96%;
    border-top: 1px dashed #4b545c;
    border-bottom: 1px dashed #d7f1ff;	
}

#searchDialogMessage {
    position: absolute;
    right: 163px;
    top: 147px;
    width: 247px;
    height: 45px;
    background-color: white;
    border: 1px solid #4b545c;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    display: none;
}

#buttonSearchNewEmployee {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    position: absolute;
    top: 32px;
    right: 10px;
    width: 120px;
    height: 42px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#buttonSearchNewEmployee:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #404040));
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 33px;
}

/* ------------- addNewUserBox  style ----------------- */

#addNewUserBox {
    position: absolute;
    right: 20px;
    top: 177px;
    width: 680px;
    height: 55px;
    border-bottom: 1px solid #4b545c;
    border-top: 1px solid #ffffff;	
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-align: center;
    font-size: 16px;
    display: none;
}

#addNewUser_table {
    position: absolute;
    left: 10px;
    top: 10px;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    font-family:Arial;
}

#addNewUser_table td{
    border: 1px dashed #84c3e5;	
}

#buttonAddNewEmployee:disabled{
    display: none;
}

#buttonAddNewEmployee {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    position: absolute;
    top: 7px;
    right: 10px;
    width: 120px;
    height: 42px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#buttonAddNewEmployee:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #404040));
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 8px;
}

#adminRoleList {
    position: absolute;
    right: 163px;
    top: 240px;
    display: none;
}

