body { 
    font-family:Arial;
    background: #d7f1ff;
}

h1 { 
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: -200px;
    margin-left: -162px;
    font-size: 36px;
    color: #344f5e;
    letter-spacing: -1px;
}

#ramka {    
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: -140px;
    margin-left: -195px;
    padding: 33px 0px 0px 0px;
    width: 370px;
    height: 190px;
    background: #84c3e5;
    border:1px solid #517599;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.56);
}

input[type=text],input[type=password] {
    text-align: center;
    font-size: 18px;
    margin: 5px 38px;
    width: 290px;
    height: 30px;
    color: #404040;
    background: white;
    border-radius: 5px;
}

input[type=submit] {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border:1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-size: 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    float: right;
    margin: 25px 40px 0px 0px;
    width: 100px;
    height: 35px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

input[type=submit]:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #404040));
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.56);
    position:relative;
    top:1px;
}

input[type=submit]:active {
    position:relative;
    top:2px;
}

span { 
    text-align: center;
    font-size: 18px;
    color: crimson;
    position: absolute;
    bottom: 7px;
    width: 100%;
}

#logo {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: -335px;
    margin-left: -80px;
    width: 160px;
    height: 130px;
}

