/* ------------- filterDate  ----------------- */
.filter {
    position: absolute;
    left: 50%;
    margin-left: -255px;
    top: 100px;
    width: 510px;
}

.filterDate {
    position: relative;
    float: left;
    width: 120px;
    height: 20px;
}

p.filterDate {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-top: 3px;
    margin-right: 10px;
}

input.filterDate {
    font-size: 17px;
    text-align: center;
    padding-top: 3px;
    border-radius:3px;
    border:2px solid #517599;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor:pointer;
}

input.filterDate:hover {
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
}

/* ------------- myReportLoad button  ----------------- */
#myReportLoad {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    position: absolute;
    top: 90px;
    left: 40px;
    width: 135px;
    height: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-animation: pulse 2s infinite;
}

/* -------------  button pulsation for myReportLoad ----------------- */
@-webkit-keyframes pulse {
    to {
        color:#ff5900;
    }
}

#myReportLoad:disabled{
    display: none;
}

#myReportLoad:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #404040));
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 91px;
}

#myReportLoad:active {
    position:absolute;
    top: 92px;
}

/* ------------- message style ----------------- */
#post_message {
    text-align: center;
    line-height: 80px;
    color:#33ff99;
    font-family:Arial;
    font-size:18px;
    position: absolute;
    top: 70px;
    left: 15px;
    width: 310px;
    height: 80px;
    background: #517599;
    box-shadow: 0 0 20px 12px #84c3e5 inset;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

}

/* ------------- main table style part  ----------------- */
#user_summary_report_table{
    position: relative;
    left: 5px;
    top: 5px;
    border-spacing: 3px 0px;
    border-left: 1px dashed #84c3e5;	
    border-top: 1px dashed #84c3e5;
    border-right: 1px dashed #84c3e5;
}

.user_report_row_head {
    font-size: 0.75em; /* 12px/16=0.75em */
    max-width: 300px;
    min-width: 300px;
    border-bottom: 1px dashed #84c3e5;	
    border-right:  1px dashed #84c3e5;	
}

.user_report_row_fields {
    width: 80px;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    color: #404040;
    border-bottom: 1px dashed #84c3e5;	
}

#user_report_table tr{
    height: 64px;
}

.work_title_title {
    height: 16px;
    width: 300px;
    overflow: hidden;
    font-weight: bolder;
}

.work_type_title {
    height: 16px;
    width: 300px;
    overflow: hidden;
}

.work_form_title {
    height: 16px;
    width: 300px;
    overflow: hidden;
}

.work_instance_details {
    font-style: italic;
    height: 16px;
    width: 300px;
    overflow: hidden;
}

/* ------------- statistic table style part  ----------------- */
#sum_row_table_summary{
    position: relative;
    left: 311px;
    top: 10px;
    border-spacing: 2px 0px; 	  
    border: 1px dashed #84c3e5;	
}

#sum_row_table_summary tr{
    height: 67px;
}

#sum_row_table_summary p{
    width: 79px;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    color: #404040;
    padding: 7px 0px 4px 0px;
    border-radius: 5px;
}

.less8hours {
    border: 1px solid #ff3333;	
    background: #d7f1ff;
    box-shadow: 0 0 5px 3px #ff3333 inset;
}

.overWork {
    border: 1px solid #006633;	
    background: #d7f1ff;
    box-shadow: 0 0 5px 3px #006633 inset;
}

.hoursGood {
    border: 1px solid #56d25f;	
    background: #d7f1ff;
    box-shadow: 0 0 5px 3px #56d25f inset;
}

/* ------------- bottom content part  ----------------- */
#work_type_select_U, #work_title_select_U, #work_form_select_U, #work_instance_select_U {
    cursor:pointer;
    position: relative;
    float: left;
    width: 20%; 
    height: 30px;
    margin: 15px 0.5% 15px 0.5%;
    border-radius: 5px;
    box-shadow:
        inset rgba(155,155,150,.9) -3px -3px 8px,
        inset rgba(155,155,150,.5) 3px 3px 8px,
        0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-weight: bold;
    text-align-last: center;
}

#work_type_select_U:hover, #work_title_select_U:hover, #work_form_select_U:hover, #work_instance_select_U:hover {
    cursor:pointer;
    position: relative;
    float: left;
    width: 20%; 
    height: 30px;
    margin: 16px 0.5% 14px 0.5%;
    border-radius: 5px;
    box-shadow:
        inset rgba(155,155,150,.9) -3px -3px 8px,
        inset rgba(155,155,150,.5) 3px 3px 8px,
        1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align-last: center;
}

#work_type_select_arrow, #work_title_select_arrow, #work_form_select_arrow {
    position: relative;
    float: left;
    width: 2%; 
    height: 30px;
    margin: 15px 0 15px 0;
}

#add_user_report_row_button_U {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    position: relative;
    float: right;
    width: 9.4%;
    height: 40px;
    margin: 10px 0.5% 10px 0.1%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#add_user_report_row_button_U:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #404040));
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position:relative;
    top:1px;
}

#add_user_report_row_button_U:active {
    position:relative;
    top:2px;
}

/* ------------- line separates tables  ----------------- */
.lineToSeparateTables {
    position: relative;
    top: 20px;   
    margin: 0 5px;
    border-bottom: 1px dashed #84c3e5;
    display: none;
}

/* ------------- union table style part  ----------------- */
#user_summary_report_table_union{
    position: relative;
    left: 5px;
    top: 30px;   
    border-spacing: 3px 0px;
    border-left: 1px dashed #84c3e5;	
    border-top: 1px dashed #84c3e5;
    border-right: 1px dashed #84c3e5;
}