/* ------------- filterDate  ----------------- */
.filterDateSuperViewer {
    position: relative;
    float: left;
    width: 120px;
    height: 20px;
}

input.filterDateSuperViewer {
    font-size: 17px;
    text-align: center;
    padding-top: 3px;
    border-radius:3px;
    border:2px solid #517599;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor:pointer;
}

input.filterDateSuperViewer:hover {
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
}

/* ------------- checkbox  style ----------------- */
#divCheckboxEmpl{
    position: absolute;
    right: 20px;
    top: 78px;
    width: 260px;
    height: 72px;
    border-bottom: 1px solid #4b545c;
    border-top: 1px solid #d7f1ff;	
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#headerCheckboxEmpl{
    position: absolute;
    left: 5px;
    top: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    white-space: pre;
}

#checkboxEmpl{
    position: absolute;
    right: 5px; 
    top: 5px;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 2px 1px #517599 inset;
    cursor:pointer;
}

#checkboxEmpl:hover{
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 6px;
}

#checkboxEmpl:active{
    position: absolute;
    top: 7px;
}

#checkboxEmpl:checked{
    position: absolute;
    top: 5px;
    box-shadow: 0 0 2px 1px #006633 inset;
}

#checkboxEmpl:checked:hover{
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 6px;
}

#checkboxEmpl:checked:active{
    position: absolute;
    top: 7px;
}

/* ------------- message box  style ----------------- */
#post_message_span {
    white-space: pre;
}

/* ------------- super_viewer_employees_hours_table  and planCompare_table style ----------------- */
#super_viewer_employees_hours_table, #planCompare_table {
    position: relative;
    left: 5px;
    top: 5px;
    border-collapse: collapse;
    border: 2px solid #84c3e5;	
    text-align: center;
    font-size: 16px;
    font-family:Arial;
}

#super_viewer_employees_hours_table td, #planCompare_table td{
    width: 80px;
    border: 1px dashed #84c3e5;	
}

#super_viewer_employees_hours_table td:first-child, #planCompare_table td:first-child {
    border-left: 0;
}

#super_viewer_employees_hours_table tr:first-child td, #planCompare_table tr:first-child td{
    border-top: 0;
}

#super_viewer_employees_hours_table td:last-child, #planCompare_table td:last-child {
    border-right: 0;
}

#super_viewer_employees_hours_table tr:last-child td, #planCompare_table tr:last-child td{
    border-bottom: 0;
}

#planCompare_table tr:last-child {
    font-size: 16px;
    font-weight: bolder;
    height: 30px;
}

.firstColumnPlanCompareEnd {
    text-align: right;
    padding-right: 20px;
}

.firstColumn {
    font-size: 17px; 
    max-width: 300px;
    min-width: 300px;
    text-align: left;
    padding-left: 10px;
    height: 25px;
}

.firstColumnPlanCompare {
    font-size: 17px; 
    max-width: 466px;
    min-width: 466px;
    text-align: left;
    padding-left: 10px;
    max-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
}

.tr_head {
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}
.less8hoursT {
    color: #ff3333;
}

.overWorkT {
    color: #006633;
}

.hoursGoodT {
    color: #56d25f;
}

/* ------------- names_header_for_table_union  style ----------------- */
#names_header_for_table_union {
    position: relative;
    left: 317px;
    top: 35px;   
    border-collapse: collapse;
}

#names_header_for_table_union td {
    border: 1px dashed #84c3e5;	
    max-width: 80px;
    min-width: 80px;
    height: 130px;
}

.rotateText {
    margin: 0px -20px;
    text-align: center;	
    transform: rotate(270deg);
}

/* ------------- super_viewer_employees_table_union  style ----------------- */
#super_viewer_employees_table_union {
    position: relative;
    left: 7px;
    top: 34px;   
    border-collapse: collapse;
    border: 1px dashed #84c3e5;	
}

.super_viewer_row_head {
    font-size: 0.75em; /* 12px/16=0.75em */
    max-width: 303px;
    min-width: 303px;
    padding-left: 5px;
    border: 1px dashed #84c3e5;	
}

.superViewerUnited_user_report_row_fields {
    text-align: center;
    max-width: 80px;
    min-width: 80px;
    border: 1px dashed #84c3e5;	
}

/* ------------- saveDetailedReportToExcel button  ----------------- */
#saveDetailedReportToExcel {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-weight:bold;
    font-size:14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    position: absolute;
    top: 12px;
    left: 253px;
    width: 134px;
    height: 52px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#saveDetailedReportToExcel:disabled{
    display: none;
}

#saveDetailedReportToExcel:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #404040));
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 14px;
}

#saveDetailedReportToExcel:active {
    position:absolute;
    top: 15px;
}

#divLoadToExcelbox{
    position: absolute;
    top: 78px;
    left: 20px;
    width: 400px;
    height: 72px;
    border-bottom: 1px solid #4b545c;
    border-top: 1px solid #d7f1ff;	
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: none;
}

#header_select_work_group_by{
    position: absolute;
    left: 15px;
    width: 210px;
    top: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;  

}

#select_work_group_by {
    cursor:pointer;
    position: absolute;
    top: 17px;
    left: 15px;
    width: 210px; 
    height: 30px;
    margin: 15px 0.5% 15px 0.5%;
    border-radius: 5px;
    box-shadow:
        inset rgba(155,155,150,.9) -3px -3px 8px,
        inset rgba(155,155,150,.5) 3px 3px 8px,
        0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-weight: bold;
    text-align-last: center;
}

#select_work_group_by:hover {
    position: absolute;
    top: 18px;
    box-shadow:
        inset rgba(155,155,150,.9) -3px -3px 8px,
        inset rgba(155,155,150,.5) 3px 3px 8px,
        1px 3px 8px 2px rgba(0, 0, 0, 0.5);
}

#verticalLine {
    position: absolute;
    left: 240px;
    top: 4px;
    height: 64px;
    width: 1px;
    border-left: 1px dashed #4b545c;
}

#unitedPart {
    position: relative;
    float: left;
    width: 85%;
}

/* ------------- PlanCompare part  ----------------- */

#divPlanCompare {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 14%;
    height: 50px;
    border-bottom: 1px solid #4b545c;
    border-top: 1px solid #d7f1ff;	
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#header_PlanCompare {
    position: absolute;
    width: 100%;
    top: 1px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#select_PlanCompare {
    cursor:pointer;
    position: absolute;
    left: 5%;
    top: 20px;
    width: 35%; 
    height: 27px;
    border-radius: 5px;
    box-shadow:
        inset rgba(155,155,150,.9) -3px -3px 8px,
        inset rgba(155,155,150,.5) 3px 3px 8px,
        0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-weight: bold;
    text-align-last: center;
}

#button_PlanCompare {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    position: absolute;
    right: 5%;
    top: 20px;
    width: 50%;
    height: 27px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#select_PlanCompare:hover {
    position: absolute;
    top: 21px;
    box-shadow:
        inset rgba(155,155,150,.9) -3px -3px 8px,
        inset rgba(155,155,150,.5) 3px 3px 8px,
        1px 3px 8px 2px rgba(0, 0, 0, 0.5);
}

#button_PlanCompare:hover {
    position: absolute;
    top: 21px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #404040));
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
}

#button_PlanCompare:active {
    position: absolute;
    top: 22px;
}
/* ------------- line separates tables  ----------------- */
.lineToSeparateTables2 {
    position: relative;
    top: 20px;   
    margin: 0 5px;
    border-bottom: 1px dashed #84c3e5;
    display: none;
}


