body {
    margin: 0px 0px 0px 0px;
    font-family: "Arial";
    overflow: hidden;
}

hr {
    margin: 0px 0px 0px 0px;
}

h2 {
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 0px 10px;
    float: left;
    width: 45%;
    height: 40px;
}

.dates_header_block {
    height: 60px;
}

.dates_header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    margin-left: -240px;
    top: 70px;
    width: 480px;
}

/* ------------- message style ----------------- */
#post_user_report_message {
    text-align: center;
    line-height: 80px;
    color:#33ff99;
    font-family:Arial;
    font-size:17px;
    position: absolute;
    top: 70px;
    left: 10px;
    width: 310px;
    height: 80px;
    background: #517599;
    box-shadow: 0 0 20px 12px #84c3e5 inset;
}

#post_user_report_message_span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    white-space: pre;
    position: absolute;
    width: 300px;
    left: 5px;
    top: 24%;
}

/* ------------- dates style ----------------- */

p {
    margin: 0;
}

#user_report_table_dates p {
    text-align: center;
}

#user_report_timeframe {
    margin-left: 10px;
    margin-right: 10px;
    white-space: pre;
}

#user_report_table_dates {
    position: absolute;
    left: 307px;
    top: 100px;
    border-spacing: 3px 0px;
}

.report_record_weekday {
    font-size: 0.75em;
}

.report_record_monthday {
    text-align: center;
    width: 40px;
    font-weight: bold;
    font-size: 1.5em;
}

.report_record_month {
    text-align: center;
    font-size: 0.75em;
}

td.sunday {
    color: #ff0033;
    padding-right: 40px;
}

td.saturday {
    color: #ff0033;
}

.hrBetweenBlocksTop1 {
    position: absolute;
    top: 60px;   
    width: 100%;
    border-top: 1px solid #4b545c;
    border-bottom: 1px solid #d7f1ff;	
}

.hrBetweenBlocksBottom1 {
    width: 100%;
    border-top: 1px solid #84c3e5;
    border-bottom: 2px solid #d7f1ff;	
}

/* ------------- checkbox  style ----------------- */
#divCheckbox{
    position: absolute;
    right: 10px;
    top: 95px;
    width: 370px;
    height: 30px;
    border-bottom: 1px solid #4b545c;
    border-top: 1px solid #d7f1ff;	
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#headerCheckbox{
    position: absolute;
    right: 20px;
    top: 6px;
    width: 350px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    white-space: pre;
}

#checkbox{
    position: absolute;
    right: 5px; 
    top: 5px;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 2px 1px #517599 inset;
    cursor:pointer;
}

#checkbox:hover{
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 6px;
}

#checkbox:active{
    position: absolute;
    top: 7px;
}

#checkbox:checked{
    position: absolute;
    top: 5px;
    box-shadow: 0 0 2px 1px #006633 inset;
}

#checkbox:checked:hover{
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 6px;
}

#checkbox:checked:active{
    position: absolute;
    top: 7px;
}

/* ------------- main table style part  ----------------- */
#user_report_table{
    position: relative;
    left: 5px;
    top: 5px;
    border-spacing: 3px 0px;
    border-left: 1px dashed #84c3e5;	
    border-top: 1px dashed #84c3e5;
    border-right: 1px dashed #84c3e5;
}

.user_report_row_head {
    font-size: 0.75em; /* 12px/16=0.75em */
    max-width: 300px;
    min-width: 300px;
    border-bottom: 1px dashed #84c3e5;	
}

.user_report_row_fields {
    border-bottom: 1px dashed #84c3e5;	
}

#user_report_table tr{
    height: 64px;
}

.work_title_title {
    height: 16px;
    width: 300px;
    overflow: hidden;
    font-weight: bolder;
}

.work_type_title {
    height: 16px;
    width: 300px;
    overflow: hidden;
}

.work_form_title {
    height: 16px;
    width: 300px;
    overflow: hidden;
}

.work_instance_details {
    font-style: italic;
    height: 16px;
    width: 300px;
    overflow: hidden;
}

input[type=number] {
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 17px;
    color: #404040;
    background: white;
    border-radius: 2px;
    margin: 10px 0;
}

/* ------------- statistic table style part  ----------------- */
#sum_column_table{
    position: absolute;
    left: 990px;
    top: 5px;
    border-spacing: 3px 0px; 	  
    border-left: 1px dashed #84c3e5;	
    border-top: 1px dashed #84c3e5;
    border-right: 1px dashed #84c3e5;
}

#sum_column_table tr{
    height: 67px;
}

#sum_column_table td{
    width: 40px;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    color: #404040;
    border-bottom: 1px dashed #84c3e5;		
}

#sum_row_table{
    position: relative;
    left: 311px;
    top: 10px;
    border-spacing: 2px 0px; 	  
    border: 1px dashed #84c3e5;	
}

#sum_row_table tr{
    height: 67px;
}

#sum_row_table p{
    width: 39px;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    color: #404040;
    padding: 7px 0px 4px 0px;
    border-radius: 5px;
}

.less8hours {
    border: 1px solid #ff3333;	
    background: #d7f1ff;
    box-shadow: 0 0 5px 3px #ff3333 inset;
}

.overWork {
    border: 1px solid #006633;	
    background: #d7f1ff;
    box-shadow: 0 0 5px 3px #006633 inset;
}

.hoursGood {
    border: 1px solid #56d25f;	
    background: #d7f1ff;
    box-shadow: 0 0 5px 3px #56d25f inset;
}

/* ------------- bottom content part  ----------------- */
#work_type_select, #work_title_select, #work_form_select {
    cursor:pointer;
    position: relative;
    float: left;
    width: 20%; 
    height: 30px;
    margin: 15px 0.5% 15px 0.5%;
    border-radius: 5px;
    box-shadow:
        inset rgba(155,155,150,.9) -3px -3px 8px,
        inset rgba(155,155,150,.5) 3px 3px 8px,
        0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-weight: bold;
    text-align-last: center;
}

#work_type_select:hover, #work_title_select:hover, #work_form_select:hover {
    cursor:pointer;
    position: relative;
    float: left;
    width: 20%; 
    height: 30px;
    margin: 16px 0.5% 14px 0.5%;
    border-radius: 5px;
    box-shadow:
        inset rgba(155,155,150,.9) -3px -3px 8px,
        inset rgba(155,155,150,.5) 3px 3px 8px,
        1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align-last: center;
}

#work_instance_details_input {
    position: relative;
    float: left;
    width: 20%; 
    height: 30px;
    margin: 15px 0.5% 15px 0.5%;
    border-radius: 5px;
    box-shadow:
        inset rgba(155,155,150,.9) -3px -3px 8px,
        inset rgba(155,155,150,.5) 3px 3px 8px;
    font-weight: bold;
    text-align-last: center;
}

#work_type_select_arrow, #work_title_select_arrow, #work_form_select_arrow {
    position: relative;
    float: left;
    width: 2%; 
    height: 30px;
    margin: 15px 0 15px 0;
}

/* ------------- blocks location part  ----------------- */

.divFixPart {
    position: fixed; 
    top: 0;
    width: 100%; 
    height: 167px;
    background-color: #84c3e5;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.6);
}

.divFixPartBottom {
    position: fixed; 
    bottom: 0;
    width: 100%; 
    height: 60px;
    background-color: #84c3e5;
}

.divScrollPart {
    background-color: #d7f1ff;
    position: absolute;
    top: 0%;
    margin-top: 170px;
    margin-bottom: 60px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

/* -------------  scrollbar style  ----------------- */
::-webkit-scrollbar {
    height: 17px;
    width: 17px;
    background: #DBDBDB;
    border-radius: 6px;
    border-left: 2px solid #999;
    border-top: 2px solid #999;
    border-bottom: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
}

::-webkit-scrollbar-thumb {
    background: #4b545c;
    border-radius: 6px;
    box-shadow:
        inset rgba(155,155,150,.4) -3px -3px 8px,
        inset rgba(155,155,150,.7) 3px 3px 8px,
        0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

::-webkit-scrollbar-corner {
    background: #d7f1ff;
}

/* -------------  button part  ----------------- */
.headButton {
    float: right;
    width: 150px;
}

.headButtonLogout {
    float: right;
    width: 61px;
}

#hideLinePartMain {
    position: relative;
    top: 60px;
    float: right;
    margin-right: 124px;
    height: 10px;
    width: 150px;
    background-color: #84c3e5;
}

#hideLinePartMyReport {
    position: relative;
    top: 60px;
    float: right;
    margin-right: 274px;
    height: 10px;
    width: 150px;
    background-color: #84c3e5;
}

#hideLinePartSuperViewerPage {
    position: relative;
    top: 60px;
    float: right;
    margin-right: 424px;
    height: 10px;
    width: 150px;
    background-color: #84c3e5;
}

#hideLinePartAdminPage {
    position: relative;
    top: 60px;
    float: right;
    margin-right: 574px;
    height: 10px;
    width: 150px;
    background-color: #84c3e5;
}

#logoutImageButton{
    float: right;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    margin: 10px 5px 0px 2px;
    width: 53px;
    height: 38px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/*
.headButtonLang {
    position: absolute;
    right: 0px;
    top: 0px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    margin: 10px 5px 0px 2px;
    width: 53px;
    height: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
*/
#lang_select {
    float: right;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    margin: 10px 3px 0px 2px;
    width: 57px;
    height: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#lang_select option{
    color:#404040;
    background:#d7f1ff;
}

#languageImageButton {
    margin-left: 1px;
    margin-top: -4px;
    width: 90%;
    height: 120%;
}
/*
#lang_select {
    visibility: hidden;
}

.headButtonLang option{
    color:#404040;
    background:#d7f1ff;
}
*/
input[type=submit] {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    margin: 10px 2px 0px 2px;
    width: 146px;
    height: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#post_user_report {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    position: absolute;
    top: 90px;
    left: 40px;
    width: 120px;
    height: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-animation: pulse 2s infinite;
}

/* -------------  button pulsation for #post_user_report ----------------- */
@-webkit-keyframes pulse {
    to {
        color:#ff5900;
    }
}

#post_user_report:disabled{
    display: none;
}

#go_backward {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    position: absolute;
    top: 0px;
    left: 20px;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#go_forward {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    position: absolute;
    top: 0px;
    left: 435px;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#add_user_report_row_button {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #4b545c));
    border-radius:3px;
    border-top: 1px solid #d7f1ff;
    border-bottom: 1px solid #4b545c;	
    border-left: 1px solid #517599;
    border-right: 1px solid #517599;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #3f6a96;
    position: relative;
    float: right;
    width: 9%;
    height: 40px;
    margin: 10px 0.5% 10px 0.5%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

input[type=submit]:hover, #add_user_report_row_button:hover, #post_user_report:hover, #lang_select:hover, #logoutImageButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #404040));
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position:relative;
    top:1px;
}

#post_user_report:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #404040));
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 92px;
}

#go_forward:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #404040));
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 1px;
    left: 435px;
}

#go_backward:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #404040));
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 1px;
    left: 20px;
}

input[type=submit]:active, #add_user_report_row_button:active, #lang_select:active, #logoutImageButton:active {
    position:relative;
    top:2px;
}

#post_user_report:active {
    position:absolute;
    top: 93px;
}

#go_backward:active, #go_forward:active {
    position:absolute;
    top: 2px;
}

